.divContainer{
    background: rgb(248, 248, 248);
    /* background: linear-gradient(45deg, rgb(24, 24, 26) 0%, rgb(37, 37, 49) 35%, rgba(113,5,175,1) 61%, rgba(0,212,255,1) 100%); */
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* font-size: calc(10px + 2vmin); */
    color: white;

    border-radius: 10px;
}

.containerGlob{
    min-width: 30vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #3a3c49;
    width: 70%;
}

.divInput{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #78797e
}

.divHeader{    
    font-weight: bold;
    margin-bottom: 1em;
}
.h1ittle{
    /* Efeito degradê nas letras */
    background: -webkit-linear-gradient(180deg, #030d3d, #312b27, #751b91, #030d3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    padding: 20px;
}

.divButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
    background-color: #9b37dd;
    width: 110%;
    height: 40px;
    color: white;
    font-size: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    /* retirar sobras do botão */
    box-shadow: 0 0 0 0;
    border: 0;
    margin-top: 2em;
    margin-left: 9px;
}
.pCadastrese a{
    color: #3a3c49;
    font-size: 0.5em;
    margin-top: -var();
    /* retirando marcação do sublinhado */
    text-decoration: none;
    /* trocando de cor quando mouse estiver em cima */
    &:hover{
        color: #9b37dd;
    }
}
.pEsqueceuSenha a{
    color: #3a3c49;
    font-size: 0.5em;
    margin-top: -1em;
    /* retirando marcação do sublinhado */
    text-decoration: none;
    /* trocando de cor quando mouse estiver em cima */
    &:hover{
        color: #9b37dd;
    }
}