.divContainer{
    margin-top: 1em;
}

.containerGlob{
    min-width: 30vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #3a3c49;
    width: 70%;
}

.divInput{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #78797e
}

.divHeader{    
    font-weight: bold;
    margin-bottom: 1em;
}
.h1ittle{
    /* Efeito degradê nas letras */
    background: -webkit-linear-gradient(180deg, #030d3d, #1151ff, #bc2ae9, #8a4bff, #030d3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    padding: 20px;
}

.divButton{
    margin-top: 1em;
}
.pCadastrese a{
    color: #3a3c49;
    font-size: 0.5em;
    margin-top: -var();
    /* retirando marcação do sublinhado */
    text-decoration: none;
    /* trocando de cor quando mouse estiver em cima */
    &:hover{
        color: #9b37dd;
    }
}
.pEsqueceuSenha a{
    color: #3a3c49;
    font-size: 0.5em;
    margin-top: -1em;
    /* retirando marcação do sublinhado */
    text-decoration: none;
    /* trocando de cor quando mouse estiver em cima */
    &:hover{
        color: #9b37dd;
    }
}